<!DOCTYPE html>
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Edit</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{records.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Child Id:</label>  
    <div class="col-sm-4">
      <input type="text" name="Orphan_ID" id="id_id" required maxlength="20" value="{{ records.Orphan_ID }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Child Name:</label>  
    <div class="col-sm-4">  
      <input type="text" name="Orphan_Name" id="id_Orphan_Name" required maxlength="100" value="{{ records.Orphan_Name }}"/>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label"> Gender:</label>  
    <div class="col-sm-4">  
      <input type="text" name="Gender" id="id_Gender" required maxlength="255" value="{{ records.Gender }}"/>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Child DOB:</label>  
    <div class="col-sm-4">  
      <input type="text" name="DOB" id="id_DOB" required maxlength="20" value="{{ records.DOB }}"/>  
    </div>  
  </div> 
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nominee:</label>  
    <div class="col-sm-4">  
      <input type="text" name="Nominee" id="id_Nominee" required maxlength="20" value="{{ records.Nominee }}"/>  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>